.deps/
.libs/
Makefile
autom4te.cache/
config.log
config.status
*.lo
*.o
src/config.h
src/stamp-h1
Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
*.la
*.a
*.so
coredumper_unittest
